body {
    text-align: center;
    height: 100vh;
    overflow-y: auto;
    background-size: cover;
}

.sign-up {
    text-align: center;
    height: 100vh;
    overflow-y: auto;
    background-size: cover;
    margin-top: 80px;
}
.sign h1 {
    font-size: 5rem;
    color: black;
}

.par {
    text-align: centre;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
}

.sign img {
    width: 20vw;
    margin: 0 auto;
}

.form-signup input {
    font-size: 1rem;
    width: 30%;
    align-self: center;
}


.signup-header button {
   margin-left: 1300px;
}
