.sign-up {
    background-color: lightblue;
    text-align: center;
    height: 100vh;
    overflow-y: auto;
    background-size: cover;
}
.sign h1 {
    font-size: 5rem;
    color: white;
}

.par {
    text-align: centre;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
}

.sign img {
    width: 20vw;
    margin: 0 auto;
}

.form-signup form{
    display: flex;
    flex-direction: column;
}

.form-signup input {
    font-size: 1rem;
    width: 30%;
    align-self: center;
}

