.sign h1 {
    font-size: 5rem;
    color: white;
}

.par {
    text-align: centre;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
}

.sign img {
    width: 20vw;
    margin: 0 auto;
}
