.tab h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}

input, label {
    font-weight: bolder;
    border-radius: 20px;
}
 .form p{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
 }

 form {
    background-color: #0e91c5;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .button {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      cursor: pointer;
  }

  .btn-primary {
      background-color:black;
      color: white;
      font-size: 1.5rem;
      font-family: "Times New Roman", Times, serif;
      text-decoration: none;
      border: 6px solid transparent;
      font-weight: bold;
      padding: 0.2rem 3rem;
      border-radius: 30px;
      transition: transform 0.4s;
    }

    .btn-primary:hover {
      transform: scale(1.1);
      color: black;
    }

    .btn:hover {
      background: black;
      color: white;
      border-color: transparent;
      transform: scale(1.1);
      cursor: pointer;
    }
