.tab h1{
    text-align: left;
    font-size: 3rem;
}

.form-user input{
    font-weight: bolder;
}
.form-user label {
    font-weight: bolder;
}
 .form-user p{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
 }
