.image img {
    margin-top: 100px;
}

.image p {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
    color: black;
    font-weight: bold;
}

.image h2{
    color: white;
    font-size: 4rem;
    margin-top: 50px;
}

