.nav-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
  }
  .nav-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
  }
  
  .nav-name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* styling the navbar */
  .nav-items{
    list-style: none;
    display: flex;
    
  }
  .nav-items > li{
    padding: 40px;
    font-weight: bolder;

  }
  
  .nav-list {
    flex: 10;
    justify-content: space-between;
  }
  .nav-list > ul {
    padding: 10px;
    
  }
  
  .nav-list > ul :hover {
    color: var(--blue);
    cursor: pointer;
  } 
  
  .nav-button {
    flex: 2;
  }
  
  @media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
  }