.contact{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: whitesmoke;
}

.contact-wrapper{
    padding: 50px;
    display: flex;
}
.contact-left{
    flex: 1;
    width: 30%;
    
    
}
.contact-right{
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: left;
    width: 70%;
}

.contact-right .contact-title{
  font-size: 30px;
  width: 80%;
  float: left;
  
}


.contact-info-item{
    align-items: center;
    margin: 60px 0px;
    font-weight: 400;
    width: 70%;
}
.contact-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    
    
}


.contact-form {
    margin-top: 5px;
    
  }
.contact-done{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
  }
  
  
.contact-input {
    width: 100%;
    height: 70px;
    border: ridge;
    box-shadow: 3px 3px black;
    padding-left: 10px;
    border-radius: 10px;

  }
  
.contact-textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 15px;
    padding-left: 10px;
    height: 50%;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    border: ridge;
  }
  
.submit-contact {
    border: none;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: 50%;
  }

  .submit-contact:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

  @media screen and (max-width: 480px) {
    .contact-wrapper {
      flex-direction: column;
      padding: 0px 30px;
    }
    
    .contact-info-item {
      margin: 20px 0px;
      width: 100%;
    }
  
  
    .contact-form {
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
    }
  
    .contact-input {
      width: 35%;
      height: 40px;
      margin: 10px;
      margin-left: 0;
    }
  
    .submit-contact {
      margin-top: 10px;
      width: 50%;
    }
  }
  
  