.btn-donations {
    display: grid;
    grid-template-columns: repeat(3,1fr);;
    margin: 0 5px;
    text-align: center;
       
    
}
.heading{
    text-align: center;
    font-size: 2rem;
}
.donations-page{
    width: 100%;
}

.btn-donations img{
    max-width: 100%;
    height: 60%;
    padding: 1rem;

}


.btn-donations button{
    height: 35px;
    padding: 5px;
}