.btn-donations {
    display: grid;
    grid-template-columns: repeat(3,1fr);;
    margin: auto;
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 2rem;
}
.donations{
    width: 100%;
    padding-top: 4rem ;   
    background-color: whitesmoke;
    height: 100vh;
}

.btn-donations img{
    max-width: 100%;
    height: 60%;
    padding: 1rem;

}


.btn-donations button{
    height: 40px;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;

}
.btn-donations button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}