.btn-donations {
    display: grid;
    grid-template-columns: repeat(3,1fr);;
    margin: auto;
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 2rem;
}
.donations-page{
    width: 100%;
    background-color: whitesmoke;
    height: 100%;
}

.btn-donations img{
    width: 100%;
    height: 60%;
    padding: 1rem;

}


.btn-donations button{
    height: 40px;
    padding: 2px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
    font-size: smaller;
    border-radius: 5px;
    cursor: pointer;

}
.btn-donations button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}