.demo {
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;
    background-color: whitesmoke;
    height: 100vh;
}

.demo .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.demo .col-1 p:nth-child(1) {
    font-size: 30px;
    text-transform: uppercase;
}

.demo .col-1 p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    margin: .5rem 0;
    text-transform: uppercase;
}

.demo .col-1 p:nth-child(3) {
    font-size: 22px;
    margin-bottom: 1rem;
}


.demo .col-2 {
    margin: auto;
}


.btn-j{
    font-size: 25px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
    
}
.btn-j:hover{
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}
.form-j{
    display: flex;
    gap: 1rem;
    max-width: 100%;
}
.field-name{
    font-size: 20px;
    
}


@media screen and (max-width: 940px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo iframe {
        width: 100%;
        height: auto;
    }
}










