.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
  }
  
  /* left side styling */
  .intro-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .intro-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .intro-name > :nth-child(1) {
    font-weight: bold;
    font-size: 40px;
  }
  .intro-title{
    height: 50px;
    overflow: hidden;
  }
  .intro-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
  }

  @keyframes move{
    25%{
      transform: translateY(-50px);
    }
    50%{
      transform: translateY(-100px);
    }
    75%{
      transform: translateY(-150px);
    }
    100%{transform: translateY(-200px);}
  }
  .intro-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: blue;
    display: flex;
    justify-content: center;
    
  }
  .intro-button {
    width: 6rem;
    height: 2rem;
  }
  .intro-img{
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  
  /* right side styling */
  .intro-right {
    flex: 1;
    position: relative;
  }
  .intro-right > * {
    position: absolute;
    z-index: 1;
  }
  .intro-right > :nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
  }
  .intro-right > :nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
  }
  .intro-right > :nth-child(3) {
    transform: scale(1.4);
    left: 28%;
  }
  .intro-right > :nth-child(4) {
    transform: scale(0.62);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }
  
  /* blur */
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
  
  @media screen and (max-width: 480px) {
    .intro {
      flex-direction: column;
      gap: 7rem;
      height: 64rem;
    }
  
    .intro-right {
      transform: scale(0.8);
      left: -3rem;
    }
    .intro-right .blur {
      display: none;
    }
    .floating-div:nth-of-type(1){
      /* display: none; */
      top: -7rem !important;;
    }
  }

  @media screen and (max-width: 480px) {
    .intro {
      flex-direction: column;
    }
  
    .intro-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .intro-desc{
      display: none;
    }
    
  }