body {
    background-image: url("../../assets/login.jpg");
    text-align: center;
    height: 100vh;
    overflow-y: auto;
}

.bar h3{
    text-align: left;
}

.bar h1 {
    font-size: 5rem;
    color: white;
}

.bar img {
    width: 20vw;
    margin: 0 auto;
}
