.nav-login {
    background-image: url("../../assets/login.jpg");
    text-align: center;
    height: 100vh;
    overflow-y: auto;
    background-size: cover;

}

.arrow {
  margin-top: 20px;
  text-align: left;
  font-size: 30px;
}
.nav {
  margin-top: 150px;
}
.bar h3{
    text-align: left;
    color: black;
}

.bar h1 {
    font-size: 5rem;
    color: black;
}

.bar img {
    width: 20vw;
    margin: 0 auto;
}

.form-login {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn-primary-login {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
    color: white;
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    border: 6px solid transparent;
    font-weight: bold;
    padding: 0.2rem 3rem;
    border-radius: 30px;
    transition: transform 0.4s;
  }

  .btn-primary-login:hover {
    transform: scale(1.1);
    color: black;
  }

  .btn-singup-direct:hover {
    background: #0e91c5;
    color: black;
    border-color: transparent;
    transform: scale(1.1);
  }

  .signup-direct h3 {
    font-style: italic;
    color: black;
  }

  .signup-direct  {
    margin: 1rem auto;
  }

.signup-direct small {
  font-style: italic;
}

.signup-direct span {
  color: #0d5f0d;
  
  font-style: normal;
  text-decoration: line-through;
}

.signup button {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  border: 6px solid transparent;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 0.4s;
}

.form-login input {
    text-align: center;
    width: 50%;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background: rgb(230, 230, 230);
    font-size: 1rem;
    margin: 0.3rem 0;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
